$primary: #ffefd6;
$secondary: #a7cadc;
$tertiary: #fda05e;
$quaternary: #051438;
$quinary: #171d26;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 100vh;
}
