@import url("picnic/picnic.min.css");
$primary: #ffefd6;
$secondary: #a7cadc;
$tertiary: #fda05e;
$quaternary: #051438;
$quinary: #171d26;

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: $primary;
}
